@page "/learnBlazor/bindProp"
@using Tangy_Models.LearnBlazorModels

<h3>Product</h3>

Name : @product.Name <br/>
Active : @product.IsActive <br/>
Price : @product.Price <br/> 
This Product is : @(product.IsActive ? "Active" : "Not Active")  <br/> 
@if (!string.IsNullOrWhiteSpace(selectedValue))
{
    <p> Property Selected : @product.ProductProperties.FirstOrDefault(p => p.Key == selectedValue).Value </p>
}
<br/> <br/>



Active : <input type="checkbox" @bind="product.IsActive" /> <br/> 
Price : <input type="number"  @bind="@product.Price" @bind:event="oninput" />  <br/>
Product Properties : 
<select @bind="selectedValue">
    <option value="">Select...</option>
    @foreach (var property in product.ProductProperties)
    {
       <option value="@property.Key">@property.Key</option> 
    }
</select>




@code {
    
    private string selectedValue = string.Empty;
    
    Demo_Product product = new()
    {
       Id = 1,
       Name = "Rose Candle",
       IsActive = true,
       Price = 10.99,
       ProductProperties = new List<Demo_ProductProp>()
       {
           new()
           {
               Id = 1,
               Key = "Colors",
               Value = "black"
           },
           new()
           {
               Id = 2,
               Key = "Flavor",
               Value = "Rose jasmine"
           },
           new()
           {
               Id = 3,
               Key = "Size",
               Value = "20oz"
           }
       }
    };

}