@page "/learnBlazor/bindProp"
<h3>Product</h3>

Name : @product.Name <br/>
Active : @product.IsActive <br/>
Price : @product.Price <br/> 
This Product is : @(product.IsActive ? "Active" : "Not Active")  <br/> <br/>


Active : <input type="checkbox" @bind="product.IsActive" checked="@(product.IsActive ? "checked" : null)" /> <br/> 
Price : <input type="number"  @bind="@product.Price" @bind:event="oninput" />  <br/>



@code {

    Tangy_Models.LearnBlazorModels.Demo_Product product = new()
    {
       Id = 1,
       Name = "Rose Candle",
       IsActive = true,
       Price = 10.99
    };

}